* {
  margin: 0;
  padding: 0;
}

.userCard {
  position: absolute;
  width: 300px;
  background-color: #fff;
  top: 21%;
  border-radius: 2.8rem;
  box-shadow: 0 24px 107px -36px #00000054;
  padding: 2.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
}
.user-card-image {
  width: 9rem;
  height: 9rem;
}
.user-card-image img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}
.user-name {
  font-size: 1.3rem;
  font-weight: 500;
}
.user-name-card::after {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: green;
}
.user-email {
  font-size: 0.9rem;
  opacity: 0.7;
}
.user-plan {
  font-size: 1.3rem;
  font-weight: 500;
}
.active-button {
  padding: 0.8rem 3rem;
  border: none;
  border-radius: 3px;
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
  background-color: #feb23e;
  margin-bottom: 0.4rem;
}
.plan-progressbar {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 7px;
  font-size: 0.9rem;
  font-weight: 500;
  margin-bottom: 1rem;
}
progress {
  width: 100%;
  height: 6px;
  background-color: #fff5e4;
  border-radius: 10px;
}
progress::-webkit-progress-bar {
  background-color: #fff5e4;
  /* opacity: .7; */
}
progress::-webkit-progress-value {
  background-color: #feb23e;
}

.user-card-progressbar {
  background-color: black;
}
.click-details {
  display: flex;
  gap: 2.8rem;
}
.clicks-reviewed {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.clicks-value {
  font-size: 1.5rem;
  font-weight: 600;
}
.clicks-details-text {
  font-size: 1rem;
  font-weight: 400;
  opacity: 0.7;
}
.hidden {
  display: none;
}
.show {
  display: flex;
}
